.chooseproducts {
  background-color: rgb(238, 214, 214);
  margin-top: 30px;
  border: 3px double rgb(128, 6, 128);
  border-radius: 15px;
  padding: 15px;
  height: 400px;
  box-shadow: 1px 10px 8px 1px rgb(142, 61, 235);
}
.buttonstyle {
  margin-bottom: auto;
}
.but {
  margin-bottom: 3px;
  width: 150px;
  border-radius: 10px;
}

.but2 {
  width: 150px;
  border-radius: 10px;
}
.but3:hover {
  background-color: rgba(26, 229, 41, 0.28);
  color: white;
}
