.img-div-style {
  display: flex;
  align-items: center;
}
.img-style {
  height: 50px;
  width: 50px;
  margin-right: 25px;
  margin-bottom: 5px;
}
.delet {
  margin-left: 25px;
}
.delet-style {
  font-size: 2rem;
}
